# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Reports
reports/

# Screenshots
screenshots/

# Environment variables
.env

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store